<?xml version="1.0"?>

<model>
  <name>IEAen3Dgazebo</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Alvaro Arturo Calle Mamani</name>
    <email>alvaro_qwe@hotmail.com</email>
  </author>

  <description>
    Instituto de Electronica Aplicada Universidad Mayor de San Andres.
  </description>
</model>
